@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$color-bg-blue: #D8E3F2;
$color-light-gray: #F5F5F5;
$color-light-gray2: #F9F8FE;
$color-pink: #C92071;
$color-dark-gray: #474747;
$color-yellow: #E7FF86;

div.featured-collections {
    
    padding-bottom: 100px;
    background-color: $color-light-gray2;

    h2 {
        margin: 0;
        padding: 20px 0;
        font-family: 'Inter';
        font-style: normal;
        color: $color-dark-gray;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.75px;
    }

    .card {
        background-color: $color-bg-blue;
        background-image: url('./img/star-wars-storm-trooper-supreme-shirts-supreme-t-shirt-snoopy-clothing-apparel-t-shirt-text-transparent-png-616696\ 1.png');
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 8px;
        min-height: 200px;
        display: flex;
        justify-content: space-between;

        .card-info {

            width: 50%;
            padding: 15px 0 15px 15px;

            .card-discount {
                color: $color-dark-gray;
                background-color: $color-yellow;
                border-radius: 8px;
                width: 80px;
                height: 22px;
                text-align: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.75px;
            }
    
            .card-title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                letter-spacing: 1px;
            }
    
            Button {
                background-color: $color-light-gray;
                color: $color-pink;
                text-transform: none;
                font-family: 'Inter';
                font-style: normal;
                width: 80%;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                box-shadow: none;
            }
        }

        
    }
}