@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$color-bg-gray: #E5E5E5;
$color-bg-light-gray: #F9F8FE;
$color-bg-white: #FFFFFF;
$color-dark-gray: #474747;

.featured-collections-icons {
    background-color: $color-bg-light-gray;
    height: 300px;

    h2 {
        margin: 0;
        padding: 0 0 30px 0;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: $color-dark-gray;
        line-height: 38px;
        letter-spacing: 0.75px;
    }

    a {
        text-decoration: none;
        width: 100px;
        height: 100px;
        text-align: center;
        margin-right: 30px;

        div {
            display: flex;
            justify-content: center;
            vertical-align: middle;
            background-color: $color-bg-white;
            width: 100px;
            height: 100px;
            border-radius: 100%;

            img {
            width: 55%;
            }
           
        }   
    }

    p {
        color: $color-dark-gray;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.75px;
    }
}