@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$color-light-gray: #F5F5F5;
$color-pink: #C92071;
$color-dark-gray: #474747;

.spotlight {
   margin-top: 50px;

    .spotlightImg {
        background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        img {
            width: 450px;
        }
    }
    
    .spotlightText {
        width: 40%;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: $color-pink;
            line-height: 22px;
            letter-spacing: 0.75px;
        }

        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            color: $color-dark-gray;
            line-height: 50px;
            letter-spacing: 1px;
        }

        span {
            color: $color-dark-gray;
        }

        Button {
            background-color: $color-pink;
            color: $color-light-gray;
            text-transform: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            width: 30%;
        }
    }
}